.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
*.env
./

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Docs/dev/pdfKit.md
noteToSelf.md
Docs/SD/
Docs/SIG/
Docs\SD\SD-XVII.pdf
Docs\SD\SD-XVI.pdf
Docs\SD\SD-XV.pdf
Docs/SD/SD-XX.pdf
Docs/SD/SD-XVI.pdf
Docs/SD/SD-XIV.pdf
Docs/SD/SD-XX.pdf
Docs/SD/SD-XVII.pdf
